// colors ------------------
$color-white: #fff;
$color-black: #000;
$color-dark: #343a40;
$text-black: #333;

$color-theme: #2ECC71;
$color-theme-dark: #16A085;
$color-theme-light: lighten($color-theme, 30);
$color-theme-extra-light: lighten($color-theme, 45);
